h1{
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    text-transform: uppercase;
}

h2{
    font-family: Verdana;
    font-size: 24px;
    font-style: italic;
}

p{
    font-family: 'Times New Roman';
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}

blockquote{
    font-style: italic;
    border-left: 20px solid gray;
    margin-left: 20px;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
