.poema{
    font-family: Georgia, serif;
    font-size: 20px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase; 
}

.texto {
    text-indent: 20px; 
    font-style: italic;
    font-weight: normal;
    line-height: 1.8; 
    letter-spacing: 2px; 
}
