body{
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: rgb(76, 64, 243);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    margin: 0;
    font-size: 36px;
}

.menu{
    width: 100px;
    position: absolute;
    background-color: rgb(255, 225, 225);
    border-radius: 15px;
    top: 50px;
    right: 50px;
    z-index: 3;
}

section{
    margin: 40px auto;
    padding: 20px;
    background-color: #979797;
    border-radius: 15px;
    margin: 40px; 
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

section h1{
    font-size: 28px;
    margin-bottom: 10px;
}

section p{
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
    text-align: left;
}

button{
    position: absolute;
    border-radius: 15px;
    right: 50px;
}