nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    margin: 10px;
}

a{
    color: aqua;
    margin: 10px;
    
}
a:hover{
    background-color: rgb(185, 185, 185);
}